
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 @import url('https://fonts.googleapis.com/css?family=Roboto');
 html, body, * {
	 box-sizing: border-box;
	 font-size: 16px;
}

 body {
	 padding: 2rem;
	 background: #b3bdf5;
} 
 .heading {
	 font-family: "Roboto", sans-serif;
	 font-size: 40px;
	 margin-top: 0px;
	 /* margin-left: 120px; */
	 color: #020307;
	 
	 text-align: center;
	
}
h1{
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	line-height: 1;
	/* margin-left: 120px; */
	color: #04040a;
	margin-bottom: 0;
	
   
}
 p {
	 font-family: "Roboto", sans-serif;
	 font-size: 18px;
	 color: #5f6982;
}
 .uploader {
	 display: block;
	 clear: both;
	 margin: 50 auto;
	
	 max-width: 600px;
}
 .uploader label {
	 float: left;
	 clear: both;
	 width: 100%;
	 padding: 2rem 1.5rem;
	 text-align: center;
	 background: rgb(221, 233, 229);
	 border-radius: 7px;
	 border: 3px solid #eee;
	 transition: all 0.2s ease;
	 user-select: none;
}
 .uploader label:hover {
	 border-color: #454cad;
}
 .uploader label.hover {
	 border: 3px solid #454cad;
	 box-shadow: inset 0 0 0 6px #eee;
}
 .uploader label.hover #start i.fa {
	 transform: scale(0.8);
	 opacity: 0.3;
}
 .uploader #start {
	 float: left;
	 clear: both;
	 width: 100%;
}
 .uploader #start.hidden {
	 display: none;
}
 .uploader #start i.fa {
	 font-size: 50px;
	 margin-bottom: 1rem;
	 transition: all 0.2s ease-in-out;
}
 .uploader #response {
	 float: left;
	 clear: both;
	 width: 100%;
}
 .uploader #response.hidden {
	 display: none;
}
 .uploader #response #messages {
	 margin-bottom: 0.5rem;
}
 .uploader #file-image {
	 display: inline;
	 margin: 0 auto 0.5rem auto;
	 width: auto;
	 height: auto;
	 max-width: 180px;
}
 .uploader #file-image.hidden {
	 display: none;
}
 .uploader #notimage {
	 display: block;
	 float: left;
	 clear: both;
	 width: 100%;
}
 .uploader #notimage.hidden {
	 display: none;
}
 .uploader progress, .uploader .progress {
	 display: inline;
	 clear: both;
	 margin: 0 auto;
	 width: 100%;
	 max-width: 180px;
	 height: 8px;
	 border: 0;
	 border-radius: 4px;
	 background-color: #eee;
	 overflow: hidden;
}
 .uploader .progress[value]::-webkit-progress-bar {
	 border-radius: 4px;
	 background-color: #eee;
}
 .uploader .progress[value]::-webkit-progress-value {
	 background: linear-gradient(to right, #393f90 0%, #454cad 50%);
	 border-radius: 4px;
}
 .uploader .progress[value]::-moz-progress-bar {
	 background: linear-gradient(to right, #393f90 0%, #454cad 50%);
	 border-radius: 4px;
}
 .uploader input[type="file"] {
	 display: none;
}
 .uploader div {
	 margin: 0 0 0.5rem 0;
	 color: #5f6982;
}
 .uploader .btn {
	 display: inline-block;
	 margin: 0.5rem 0.5rem 1rem 0.5rem;
	 clear: both;
	 font-family: inherit;
	 font-weight: 700;
	 font-size: 14px;
	 text-decoration: none;
	 text-transform: initial;
	 border: none;
	 border-radius: 0.2rem;
	 outline: none;
	 padding: 0 1rem;
	 height: 36px;
	 line-height: 36px;
	 color: #fff;
	 transition: all 0.2s ease-in-out;
	 box-sizing: border-box;
	 background: #454cad;
	 border-color: #454cad;
	 cursor: pointer;
}
 
.button {
	width: 140px;
	height: 45px;
	margin-top: 15px;
	margin-left: 200px;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	}
  
  .button:hover {
	background-color: #454cad;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
  }


  .buttona {
	width: 140px;
	height: 45px;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #2ee598;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	}
  
  .buttona:hover {
	background-color: #2EE59D;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
  }


.loading-bar {
    display: flex;
    height: 10px;
    width: 100%;
    max-width: 320px;
    box-shadow: inset 0px 0px 0px 1px #c8c8cd;
    border-radius: 50px;
    overflow: hidden;
}
@keyframes progress-animation {
    0% {
        width: 0%;
   }
    20% {
        width: 10%;
   }
    40% {
        width: 30%;
   }
    50% {
        width: 60%;
   }
    100% {
        width: 90%;
   }
}
.loading-bar .progress-bar {
    display: flex;
    height: 100%;
    width: 90%;
    background: #409be9;
    animation: progress-animation 5s ease-in-out;
}


.error-msg {
	margin: 10px 800px;
	padding: 10px;
	border-radius: 3px 3px 3px 3px;
	color: #D8000C;
	width:15%;
  	background-color: #FFBABA;
  }

  green-border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}

.output{
	
   z-index: 999; 
    width: 100%;
    
	padding-left: 200px; 
}
 .img-container{
	 margin-top: 30px;
 }
 .introduction{
	 margin-top: 30px;
	 margin-bottom: 30px;
	 text-align: left;
 }
 .container{
	 margin-top: 30px;
	 display: flex;
 }


 /* * {
	outline:none;
	  border:none;
	  margin:0px;
	  padding:0px;
	  font-family:Courier, monospace;
  }
  
  #paper {
	  color:#FFF;
	  font-size:20px;
  }
  #margin {
	  margin-left:12px;
	  margin-bottom:20px;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  -o-user-select: none;
	  user-select: none; 
  }
  #text {
	  width:500px;
	  overflow:hidden;
	  background-color:#FFF;
	  color:#222;
	  font-family:Courier, monospace;
	  font-weight:normal;
	  font-size:24px;
	  resize:none;
	  line-height:40px;
	  padding-left:100px;
	  padding-right:100px;
	  padding-top:45px;
	  padding-bottom:34px;
	  background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
	  background-repeat:repeat-y, repeat;
	  -webkit-border-radius:12px;
	  border-radius:12px;
	  -webkit-box-shadow: 0px 2px 14px #000;
	  box-shadow: 0px 2px 14px #000;
	  border-top:1px solid #FFF;
	  border-bottom:1px solid #FFF;
  }
  #title {
	  background-color:transparent;
	  border-bottom:3px solid #FFF;
	  color:#FFF;
	  font-size:20px;
	  font-family:Courier, monospace;
	  height:28px;
	  font-weight:bold;
	  width:220px;
  }
  #button {
	  cursor:pointer;
	  margin-top:20px;
	  float:right;
	  height:40px;
	  padding-left:24px;
	  padding-right:24px;
	  font-family:Arial, Helvetica, sans-serif;
	  font-weight:bold;
	  font-size:20px;
	  color:#FFF;
	  text-shadow: 0px -1px 0px #000000;
	  -webkit-border-radius:8px;
	  border-radius:8px;
	  border-top:1px solid #FFF;
	  -webkit-box-shadow: 0px 2px 14px #000;
	  box-shadow: 0px 2px 14px #000;
	  background-color: #62add6;
	  background-image:url(https://static.tumblr.com/maopbtg/ZHLmgtok7/button.png);
	  background-repeat:repeat-x;
  }
  #button:active {
	  zoom: 1;
	  filter: alpha(opacity=80);
	  opacity: 0.8;
  }
  #button:focus {
	  zoom: 1;
	  filter: alpha(opacity=80);
	  opacity: 0.8;
  }
  #wrapper {
	  width:700px;
	  height:auto;
	  margin-left:auto;
	  margin-right:auto;
	  margin-top:24px;
	  margin-bottom:100px;
  } */